/* Basic stylesheet for pages on web-site http://css.nu */
/* last updated February 21, 2000 */


body {
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
}

.linkcategory {
width: 40%;
	font-weight: bold;
	font-size: 14px;
	color: navy;
	text-align: center;
	background-color: Yellow;
	display: inline;
	border-bottom: 10px;
	border-width: 3px 3px 3px 3px;
	border-color: red Red Red Red;
}
.standardlinkcategory {

	font-weight: bold;
	font-size: 14px;
	color: White;
	text-align: center;
	background-color: Teal;
	border-bottom: 10px;

}



.toc {
	font-size: 13px;
	color: green;
	font-weight: bold;
}

h2{

	font-weight: bold;
	font-size: 14px;
}
}
.toc h4 {
	font-size: 16px;
	display: inline;
	font-variant: small-caps;
}


.toc A:link    { background: transparent; color: #3333cc;
            text-decoration: underline; }
.toc A:visited { background: transparent; color: #cc3333;
            text-decoration: none; }
.toc A:hover   { background: transparent; color: #339900;
            text-decoration: underline; }


 table {
	font-size: 12px;
	background-color: Silver;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

 table.links {
	font-size: 12px;
	background-color: white;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	border-width: 0px 0px 0px 0px;
}


td{
	background-color: White;
	text-align: left;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 10px;

}
.graystrip {
	background-color: silver;
	font-weight: bold;

	padding-bottom: 1px;
	padding-top: 1px;
	font-size: 11px;
	text-indent: 30px;
}
.navystrip {
	background-color: navy;
	font-weight: bold;
color: yellow;
	padding-bottom: 3px;
	padding-top: 3px;
	font-size: 14px;
	text-align: center;
}
P {
	FONT-SIZE: 12px; MARGIN: 0px 0px 15px; COLOR: #000000; FONT-FAMILY: verdana
}
LI {
	FONT-SIZE: 12px; MARGIN: 0px 0px 15px; COLOR: #000000; FONT-FAMILY: verdana
}
strong{
	font-weight: bold;
}
em{
	font-style: italic;
}
h4{
color: Black;
}
.indentlinks {
	text-indent: -.5em;
	line-height: 95%;
	padding: 0px 0px 0px 15px;
	MARGIN: 0px 0px 4px 0px;
	border: 0px 0px 0px 0px; 
}
